<h1>Benutzerverwaltung</h1>
<h2>Benutzer</h2>

<%= render :partial => "list", :locals => { :users => @users, :error => "Keine Benutzer vorhanden."} %>

<h2>Moderatoren</h2>
<%= render :partial => "list", :locals => { :users => @moderators, :error => "Keine Moderatoren vorhanden."} %>

<h2>Admins</h2>
<%= render :partial => "list", :locals => { :users => @admins, :error => "Keine Admins vorhanden."} %>

<%= back %>