<h2>Vorgeschlagene Filme</h2>

<% if @films.empty? %>
  <p>Zur Zeit keine vorgeschlagenen Filme vorhanden.</p>
<% else %>
  <%= render :partial => "filmtable", :locals => { :films => @films, :activefilms => false} %>
  <%= paginate @films %>
<% end %>