// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cloud {
	width: 200px;
	line-height: 1.6em;
	.xs { font-size: 0.7em;}
	.s { font-size: 0.9em;}
	.m { font-size: 1.1em;}
	.l { font-size: 1.5em;}
	.xl { font-size: 1.8em;}
}